---
layout: default
---
<div class="category category-lorem">
  <div class="container">
    <div class="row">
      <div class="col-md-8 primary">
        {% for pub in site.publications %}
        <div class="col-md-6">
          <article itemscope itemtype="http://schema.org/BlogPosting">
            <header>
              <figure><img src="assets/images/{{ pub.thumb }}" alt="" class="img-responsive"></figure>
              <h2 class="post-title" itemprop="headline">{{ pub.title }}</h2>
              <p class="metadata sr-only">
                Publicado por: <a href="#" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ pub.author }}</span></a> em <span itemprop="datePublished" content="2015-01-22">22/01/2015</span> na categoria <a href="#">{{ pub.category }}</a>
              </p>
            </header>
            <div class="content" itemprop="description">
              <p>{{ pub.content }}</p>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
     {% include sidebar.html %}
    </div>
  </div>
</div>
