---
layout: default
---
<div class="category category-lorem">
  <div class="container">
    <div class="col-xs-12 page-title">
      <h1>Categoria: Lorem Ipsum</h1>
      <p class="category-desc">
        Descrição da categoria: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui
      </p>
    </div>
    <div class="row">
      <div class="col-sm-8 primary">
        {% for pub in site.publications %}
        <div class="col-md-6">
          <article itemscope itemtype="http://schema.org/BlogPosting">
            <header>
              <a href="#"><figure><img src="assets/images/{{ pub.thumb }}" alt="" class="img-responsive"></figure></a>
              <a href="#"><h2 class="post-title" itemprop="headline">{{ pub.title }}</h2></a>
              <p class="metadata sr-only">
                Publicado por: <a href="#" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ pub.author }}</span></a> em <span itemprop="datePublished" content="2015-01-22">22/01/2015</span> na categoria <a href="#">{{ pub.category }}</a>
              </p>
            </header>
            <div class="content" itemprop="description">
              <p>{{ pub.content }}</p>
            </div>
          </article>
        </div>
        {% endfor %}
        <div class="col-xs-12">
          <div class="pagination">
            <a href="#" class="previous">&#60;&#60; Mais antigos</a>
            <a href="#" class="next">Mais recentes &#62; &#62;</a>
          </div>
        </div>
      </div>
      {% include sidebar.html %}
    </div>
  </div>
</div>
