article {
  background-color: #fff;
  .post-title,
  .metadata,
  .content { padding: 5px 5px 5px 20px; }

  .post-title { color: #336699; }

  p { margin: 10px 0; }
}

.category {
  article {
    .post-title {
      font-size: 24px;
      margin-bottom: -15px;
    }
  }
}
