.footer {
  font-family: helvetica;
  font-weight: 300;
  background-color: $primary-color;
  color: #fff;
  .widget { line-height: 2; }

  .widget-title {
    border-bottom: 1px solid #fff;
    margin: 10px 0;
  }
}
