<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 widget">
        <h3 class="widget-title">Posts Recentes</h3>
        <ul>
          <li>Lorem impsum sit amet</li>
          <li>consectetur adipisicing elit</li>
          <li>Lorem impsum sit amet</li>
          <li>consectetur adipisicing elit</li>
        </ul>
      </div>
      <div class="col-md-4 widget">
        <h3 class="widget-title">Categorias</h3>
        <ul>
          <li>Lorem impsum sit amet</li>
          <li>consectetur adipisicing elit</li>
          <li>Lorem impsum sit amet</li>
          <li>consectetur adipisicing elit</li>
        </ul>
      </div>
      <div class="col-md-4 widget">
        <h3 class="widget-title">Sobre</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, praesentium. Ea ipsum maiores natus fugit deleniti, velit iure nostrum optio illum perferendis quidem, expedita quod veritatis dignissimos minus incidunt fuga.
        </p>
      </div>
    </div>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</footer>
